DSWII_U02_T05_ServcioWebSOAP_Usuario/DSWII_U02_T05_ServcioWebSoap_USUARIO/src/main/resources/xsd/usuarioRol-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://t05.u02.dswii.cibertec.edu.pe/usuarioRol-service"
           xmlns:tns="http://t05.u02.dswii.cibertec.edu.pe/usuarioRol-service"
           elementFormDefault="qualified">

    <!-- Definir el tipo de UsuarioRol -->
    <xs:complexType name="UsuarioRol">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="idUsuario" type="xs:long"/>
            <xs:element name="idRol" type="xs:long"/>
            <xs:element name="fechaAsignacion" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
